source ~/.vimrc
:map <leader>bn <Action>(NextTab)
:map <leader>bp <Action>(PreviousTab)
:map gh <Action>(QuickJavaDoc)
:map <leader>gh <Action>(ShowErrorDescription)
:map <leader>gs <Action>(ActivateVersionControlToolWindow)
nmap gqq :action com.andrewbrookins.idea.wrap.WrapAction<CR>
vmap gq :action com.andrewbrookins.idea.wrap.WrapAction<CR>
:map crm :action StringManipulation.ToPascalCase<CR><Esc>
:map crc :action StringManipulation.ToCamelCase<CR><Esc>
:map crs :action StringManipulation.ToSnakeCase<CR><Esc>
:map cru :action StringManipulation.ToScreamingSnakeCase<CR><Esc>
:map cr- :action StringManipulation.ToKebabCase<CR><Esc>
:map cr. :action StringManipulation.ToDotStyleAction<CR><Esc>
