" ------------ Plugins ------------
set ReplaceWithRegister
set argtextobj
set commentary
set easymotion
set exchange
set surround
set textobj-entire


" ------------ Intellimacs ------------
source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim


" ------------ Actions ------------
nnoremap <leader>gl :action Vcs.Show.Log<CR>
vnoremap <leader>gl :action Vcs.Show.Log<CR>
nnoremap <c-p> :action SearchEverywhere<CR>
vnoremap <c-p> :action SearchEverywhere<CR>


" ------------ Key Bindings ------------
" Esc
inoremap fd <Esc>
xnoremap fd <Esc>

" Add new lines
nnoremap o o<Esc>
nnoremap O O<Esc>

" Page navigation
nnoremap <silent> <CR> <C-f>
nnoremap <silent> <Backspace> <C-b>

" EasyMotion
map <Leader>jw <Plug>(easymotion-bd-w)
map <Leader>jl <Plug>(easymotion-bd-jk)
map <Leader>jj <Plug>(easymotion-bd-f)
