# ------------ Key Bindings ------------
# Vi mode
set editing-mode vi
set show-mode-in-prompt on
set keymap vi-command
"k": history-substring-search-backward
"j": history-substring-search-forward
"?": non-incremental-reverse-search-history
