# ------------ Settings ------------
# Turn off beep
set bell-style none

# ------------ Key Bindings ------------
# Vi mode
set editing-mode vi
set show-mode-in-prompt on
"fd": vi-movement-mode

# Insert mode
set keymap vi-insert
"\C-l": clear-screen

# Command mode
set keymap vi-command
"\C-l": clear-screen
"k": history-substring-search-backward
"j": history-substring-search-forward
"?": non-incremental-reverse-search-history
